/**
 * Allows you to change the default type name from .o-type-.
 *
 * Type: String
 */

$iota-objs-type-namespace: 'type-';


/**
 * Allows you to specify typography sizes.
 *
 * Type: Map
 */

$iota-objs-type-sizes: (
  default: $baseline,
  xsmall: 11px,
  small: 14px ($baseline * 1.25),
  medium: 20px,
  large: 24px
);


@import 'node_modules/iotacss/objects/type';
