@media print {

  @page {
    margin: 2cm;
  }

  aside,
  footer,
  header {
    // display: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  ul, ol  {
    page-break-before: avoid;
  }

  figure {
    break-inside: avoid;
  }


}
