@media screen {

  .u-screen-hidden {
    display: none;
  }
}

@media print {

  @page {
    size: A4;
    margin: 2cm;
  }

  .u-screen-hidden {
    display: block !important;
  }

  aside,
  footer,
  header,
  .u-print-hidden {
    display: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1 {
    page-break-before: always;
  }

  ul, ol  {
    page-break-before: avoid;
  }

  figure {
    break-inside: avoid;
  }

  a {
    color: inherit;

    &:after {
      content: " (" attr(href) ") ";
    }
  }
}
