.c-card {
  width: 100%;

  .c-card__body { }

  &:hover {
    border-color: $color-blue;

    a {
      color: $color-blue;
    }

  }

  a {
    color: $color-black;

    &:hover {
      text-decoration: none;
    }
  }
}
