.c-card {
  border: 1px solid #ddd;
  width: 100%;

  .c-card__body {
    padding: $baseline $baseline-x2 $baseline-x2;
  }

  &:hover {
    border-color: $color-blue;

    a {
      color: $color-blue;
    }

  }

  a {
    color: $color-black;

    &:hover {
      text-decoration: none;
    }
  }
}
