.c-chapter {
  h2 {
    @extend .o-type-medium;
    @extend .u-pv;
    @extend .u-pt-x2;
  }

  h3, h4, h5, h6 {
    @extend .o-type-default;
    @extend .u-pv;
  }

  ul {
    @extend .o-list;
    @extend .o-list--block;
    @extend .u-ph-x2;
    @extend .u-pb;

    li {
      @extend .o-list__item;

      &:before {
        content: "—";
        margin-left: -$baseline * 1.5;
        position: absolute;
        z-index: -10;
      }

      &:not(:last-child) {
        margin-bottom: $baseline / 1.45 !important;
      }
    }
  }

  ol {
    @extend .o-list;
    @extend .o-list--block;
    @extend .u-ph-x2;
    @extend .u-pb;

    li {
      @extend .o-list__item;

      &:not(:last-child) {
        margin-bottom: $baseline / 1.45 !important;
      }
    }
  }

  a:not(.u-bgcolor-blue) {
    @extend .u-color-blue;
  }

  figure {
    @extend .u-pb;


    figcaption {
      @extend .u-pt;
      @extend .u-pb;
      font-size: $baseline / 1.2;
    }
  }

  blockquote {
    @extend .u-pl-x3;
    @extend .u-pr-x3;
    position: relative;
    font-style: italic;
    z-index: -10;

    &:before {
      content: " ‟ ";
      color: $color-blue;
      margin-left: -$baseline * 3;
      position: absolute;
      top: -$baseline * 2;
      z-index: -10;

      font-size: 100px;
      font-weight: 400;
    }

    & + p {
      padding-left: $baseline-x2;
    }

  }

  .footnotes {
    @extend .u-pt-x4;

    hr {
      width: 30px;
      @extend .u-mb;
    }

    ol {

      li {
        font-size: $baseline / 1.2;
      }
    }
  }
}
