.c-video {
  @extend .u-relative;
  @extend .u-mb;
  overflow: hidden;
  width: 100%;

  &::after {
    @extend .u-block;
    content: '';
    padding-top: 56.25%;
  }

  iframe {
    @extend .u-absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}
