{{ partial "header.html" . }}

  <div class="o-container">

    <div class="o-grid">

      <aside class="o-grid__col u-3/12">

        {{ partial "side.html" . }}

      </aside>

      <div class="o-grid__col u-7/12 u-push-1/12">

        <h1 class="u-pb-x2">

          {{ .Title }}

        </h1>

        <div class="u-pb-x2">

          {{ .Param "Excerpt" }}

        </div>

        {{ .Content }}

        {{ range .Params.modular }}

          {{ if eq .itemType "text" }}

            {{ .text | markdownify }}

          {{ else if eq .itemType "image" }}

            <figure>

              <img src="{{ (index .image).url }}" alt="{{ (index .image).alt }}" />

              <figcaption>

                {{ (index .image).alt }}

              </figcaption>

            </figure>

          {{ end }}

        {{ end }}

      </div>

    </div>

  </div>

{{ partial "footer.html" . }}
