    <footer class="u-mt-x6 u-pb-x2">

      <div class="o-container o-type-small">

        {{ .Site.Data.settings.copyright | markdownify }}

        {{ with .Site.GetPage "/thank.md" }}

          <a href="{{ .Permalink }}" class="u-color-blue u-pl">

            {{ .Title }}

          </a>

        {{ end }}

      </div>

    </footer>

    {{ if not (in .URL "print") }}

        <a href="/print" class="u-color-white u-weight-bold u-bgcolor-blue u-p u-fixed o-type-small" style="bottom: 16px; right: 16px;">

        Version imprimable

      </a>

    {{ end }}

  </body>

</html>
