<!DOCTYPE html>

<html lang="<%= settings.language %>">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

      {{ .Title }}

      {{ if not .IsHome }}

      - {{ .Site.Title }}

      {{ end }}

    </title>

    {{ $sass := resources.Get "sass/main.scss" }}

    {{ $style := $sass | resources.ToCSS | resources.Minify }}

    <link rel="stylesheet" href="{{ $style.Permalink }}">

  </head>

  <body>

    <header class="u-bgcolor-blue u-pv u-mb-x4">

      <div class="o-container">

        <h1>

          <a href="{{ .Site.BaseURL }}" class="u-color-white">

            {{ .Site.Title }}

          </a>

        </h1>

      </div>

    </header>
