<!DOCTYPE html>

<html lang="<%= settings.language %>">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

      {{ .Title }}

      {{ if not .IsHome }}

      - {{ .Site.Title }}

      {{ end }}

    </title>

    {{ $sass := resources.Get "sass/main.scss" }}

    {{ $style := $sass | resources.ToCSS | resources.Minify }}

    <link rel="stylesheet" href="{{ $style.Permalink }}">

  </head>

  <body>

    <header class="u-bgcolor-blue u-pv-x2 u-mb-x4 u-sticky" style="top: 0">

      <div class="o-container">

        Hello Header

      </div>

    </header>
