<!DOCTYPE html>

<html lang="<%= settings.language %>">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

      {{ .Title }}

      {{ if not .IsHome }}

      - {{ .Site.Title }}

      {{ end }}

    </title>

    {{ $sass := resources.Get "sass/main.scss" }}

    {{ $style := $sass | resources.ToCSS | resources.Minify }}

    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ partial "opengraph.html" . }}

  </head>

  <body {{ if in .URL "print" }} onload="window.print()" {{ end }}>

    <header class="u-bgcolor-blue u-pv-x2 u-mb-x4">

      <div class="o-container">

        <a href="{{ .Site.BaseURL }}" class="u-color-white">

          <img src="https://www.datocms-assets.com/18427/1579865349-eap-manuel-logo.png" alt="{{ .Site.Title }}" class="u-block" style="max-height: 70px;" />

        </a>

      </div>

    </header>
