<meta property="og:title" content="{{ .Title }}" />

<meta property="og:description" content="{{ .Param "Excerpt" }}" />

<meta property="og:url" content="{{ .Permalink }}" />

<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ if .IsHome }}

  {{ with .Site.GetPage "/hello.md" }}

  <meta property="og:image" content="{{ (.Param "cover").url }}" />

  {{ end }}

{{ else }}

  <meta property="og:image" content="{{ (.Param "cover").url }}" />

{{ end }}

<meta name="twitter:card" content="summary"/>

<meta name="twitter:title" content="{{ .Title }}"/>

<meta name="twitter:description" content="{{ .Param "Excerpt" }}"/>
