<ul class="c-side o-list o-list--block o-type-small">

  {{ $current:= .Permalink }}

  {{ range sort (where $.Site.RegularPages "Section" "chapters") ".Params.order" "asc" }}

    <li class="o-list__item {{ if eq .Permalink $current }} u-bgcolor-blue  {{ end }} {{ if not (.Param "display") }} u-disabled {{ end }}">

      <!-- <div class="o-media o-media--middle">

        <div class="o-media__fixed">

          {{ with .Param "cover" }}

            <img class="c-grayscale" src="{{ (.).url }}?fit=crop&w=40&h=40" alt="{{ (.).alt }}" />

          {{ end }}

        </div>

        <div class="o-media__fluid">  -->

          <a href="{{ .Permalink }}" class="u-block {{ if eq .Permalink $current }} u-color-white c-side__current {{ else }} u-color-blue {{ end }}">

            {{ .Title }}

          </a>

        <!-- </div>

      </div> -->

    </li>

  {{ end }}

</ul>
